<div class="email-capture-row">
  <form class="email-capture blog-newsletter-capture" action="http://makersacademy.us10.list-manage.com/subscribe/post?u=6ca79a0f8c0241a6890bd8aad&id=074eacc0c6" method="post" name="mc-embedded-subscribe-form">
    <label for="mailchimp-email"></label>
    <input type="email" id="mailchimp-email" placeholder="Din mailadress" required />
    <input type="submit" value="Håll mig informerad" />
  </form>
</div>
