
    <footer role='contentinfo'>
      <div class='container'>
        <div class='footer-links'>
          <ul class='column'>
            <li>
              <h3>Följ oss</h3>
            </li>
            <li>
              <a target="_blank" href="http://www.facebook.com/makersacademysweden">Facebook</a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/MakersSweden">Twitter</a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/makersacademyse">YouTube</a>
            </li>
            <li>
              <a target="_blank" href="http://makersacademy.se/">Webb</a>
            </li>
          </ul>
          <ul class='column'>
            <li>
              <h3>Sagt om Makers</h3>
            </li>
            <li>
              <a target="_blank" href="https://www.switchup.org/bootcamps/makers-academy">Switchup</a>
            </li>
            <li>
              <a target="_blank" href="https://www.quora.com/makers-academy">Quora</a>
            </li>
            <li>
              <a target="_blank" href="https://www.coursereport.com/schools/makers-academy#/reviews">Course Report</a>
            </li>
          </ul>
          <ul class='column'>
            <li>
              <h3>Kontakt</h3>
            </li>
            <li>
              <address class='vcard'>
                <div class='email'>
                  <a href='mailto:contact@makersacademy.com'>info@makersacademy.se</a>
                </div>
                <div class='adr'>
                  <p>
                    <span class='street-address'>Holtermansgatan 1</span>
                    <br>
                    <span class='postal-code'>411 29</span>
                    <span class='locality'>Göteborg</span>
                    <br>
                    <span class='country-name'>Sverige</span>
                    <br>
                  </p>
                </div>
                <div class='tel'>
                  <a href="tel:02038178870">+46 723 612527</a>
                </div>
              </address>
            </li>
          </ul>
          <ul class='column'>
            <li>
              <h3>Information</h3>
            </li>
            <li>
              <a href="/terms/">Användarvillkor</a>
            </li>
            <li>
              <a href="/privacy/">Din integritet</a>
            </li>
          </ul>
        </div>
        <div class='footer-logos'>
          <!--div class='footer-logo'-->
            <!-- This mixpanel must stay as long as we want free Mixpanel -->
            <!--a href='https://mixpanel.com/f/partner'>
              <img alt='Mobile Analytics' src='//cdn.mxpnl.com/site_media/images/partner/badge_blue.png'>
            </a>
          </div-->
        </div>
        <div class='footer-copyright'>
          <img class="logo" src="http://assets.makersacademy.com/images/logo/ma-white.png"}}" />
          <p>
            &copy; Acacia Labs AB - Makers Academy Sweden, Makers Academy Ltd 2015
          </p>
        </div>
      </div>
    </footer>
