{{!< default}}

<section class='hero-splash' style='background-image: url(https://assets.craftacademy.com/images/backgrounds/splash_error.jpg);'>
  <div class='container'>
    <div class='centered-row'>
      <h1>Oj då! En 404!</h1>
      <h4>Det är okay. Ibland blir det inte som man önskar sig.</h4>
      <p>
        <strong>Felmeddelanden är något du får lära dig att leva med. Applikationsutveckling är en ständig kamp.</strong>
        <strong>Vill du veta mer om hur det är att studera på Craft Academy är du välkommen att höra av dig</strong>
        <a href="mailto:info@craftacademy.se">info@craftacademy.se</a>
        &hyphen; eller varför inte ringa oss på 0723 612527.
      </p>
      <p>
        <a class="button button--horizontal" href="/">Ta mig tillbaka...</a>
      </p>
    </div>
  </div>
</section>

{{navigation}}
